.announcements-container {
    background-color: white;
    border-radius: 10px;
    margin: 0 auto;
    width: 90%;
}

.announcement-section {
    font-size: x-small;
    margin: 0 auto;
    padding: 0.5rem 0;
    width: 90%;
}

.announcement-section:nth-of-type(2) {
    border-bottom: 1px solid #e2e8f0;
    border-top: 1px solid #e2e8f0;
}
