.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.projects-left {
    display: grid;
    grid-column: 1 / 2;
    background-color: #e2e8f0;
}

.projects-right {
    display: grid;
    grid-column: 2 / 3;
    background-color: #e2e8f0;
}

.projects-left,
.projects-right {
    justify-items: center;
}

.card {
    align-items: center;
    background-color: white;
    border-left: 5px solid #f0b429;
    border-radius: 10px;
    display: grid;
    height: 7rem;
    padding: 0.5rem;
    width: 80%;
}

.card-header {
    font-weight: bold;
}

.card-footer {
    display: flex;
    justify-content: end;
}
