@import url(./announcements.css);
@import url(./header.css);
@import url(./projects.css);
@import url(./sidebar.css);
@import url(./trending.css);

/* Main sections and general content */
body {
    font-family: 'Roboto', sans-serif;
    font-size: small;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
    width: 100vw;
}

.main {
    display: grid;
    grid-column: 2 / 3;
    grid-template-rows: 17.5% 82.5%;
    background-color: #e2e8f0;
}

.main-bottom {
    display: grid;
    grid-row: 2 / 3;
    grid-template-columns: 70% 30%;
}

.section-heading {
    font-weight: bold;
    display: grid;
    align-items: center;
    padding: 0 1rem;
}

.main-left {
    display: grid;
    grid-template-rows: 7.5% 92.5%;
}

.main-right {
    display: grid;
    grid-column: 2 / 3;
    grid-template-rows: 7.5% 38.75% 7.5% 38.75% 42.5%;
    background-color: #e2e8f0;
}

.main-left,
.main-right {
    box-shadow: inset 0px 7px 3px -3px lightgray;
}

.large {
    display: grid;
    font-size: 125%;
    height: 125%;
    align-content: center;
}

.item-icon {
    cursor: pointer;
    height: 4vh;
}

.small-avatar {
    cursor: pointer;
    height: 6vh;
}

.large-avatar {
    cursor: pointer;
    height: 10vh;
}

button,
.item-icon {
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    body {
        font-size: x-small;
    }

    .sidebar-item {
        padding: 0 1rem;
    }
}
