.trending-container {
    background-color: white;
    border-radius: 10px;
    display: grid;
    margin: 0 auto;
    padding: 0.5rem 0;
    width: 90%;
}

.trend-card {
    display: flex;
    gap: 1rem;
    margin: 0 auto;
    width: 70%;
}
